In [1]:
from pandas.io.json import json_normalize
import pandas as pd

In [2]:
pd.__version__

'0.19.0'

In [3]:
df_checkin = pd.read_json('../../dataset/academic/yelp_academic_dataset_checkin.json', lines=True)

In [4]:
df_checkin.head()

,business_id,checkin_info,type
0,cE27W9VPgO88Qxe4ol6y_g,"{'7-5': 1, '17-6': 1, '18-4': 1, '13-3': 1, '9...",checkin
1,mVHrayjG3uZ_RLHkLj-AMg,"{'9-4': 3, '15-1': 1, '10-4': 3, '21-4': 1, '9...",checkin
2,mYSpR_SLPgUVymYOvTQd_Q,"{'5-5': 1, '9-3': 1, '17-3': 1, '5-4': 1, '13-...",checkin
3,KayYbHCt-RkbGcPdGOThNg,"{'14-2': 2, '15-1': 1, '19-5': 1, '8-3': 1, '1...",checkin
4,b12U9TFESStdy7CsTtcOeg,"{'8-2': 1, '13-2': 1, '8-6': 1, '5-5': 2, '5-1...",checkin

In [5]:
df_checkin_info_3 = json_normalize(df_checkin['checkin_info'][3])
df_checkin_info_3

,10-3,10-4,10-5,11-0,11-1,11-2,12-2,12-4,13-0,13-2,...,21-2,21-4,21-5,22-5,23-1,8-1,8-3,8-4,9-1,9-4
0,1,2,1,2,2,2,2,3,1,2,...,1,1,2,1,1,2,1,1,1,5

In [6]:
df_checkin_info_3['17-3']

0    2
Name: 17-3, dtype: int64

#### For some super big json file, we can also use the following way to read json object line by line from file. See http://pandas.pydata.org/pandas-docs/version/0.15.2/generated/pandas.io.parsers.read_table.html#pandas.io.parsers.read_table

In [7]:
import sys
pd.set_option('display.max_colwidth', sys.maxsize)

# Return TextFileReader object for iteration
reader = pd.read_table('../../dataset/academic/yelp_academic_dataset_review.json', header=None, chunksize=1)

index = 0
for chunk in reader:
    #print(pd.read_json(chunk[0][index], typ='series')['text'])
    print(pd.read_json(chunk[0][index], typ='series')['votes']['useful'])
    index += 1
    if (index > 2):
        break

0
0
1